body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-image: url('h2ome.jpg');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    overflow: hidden;
}

.card {
    background-color: rgba(255, 255, 255, 0.8); /* Blanc avec 80% d'opacité */
    padding: 0.8rem;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 250px;
    margin-top: 300px; /* Ajoutez cette ligne pour abaisser la carte */
    animation: popIn 1s ease forwards;
    color: white; /* Pour que le texte soit lisible */
}


h1 {
    font-size: 1.5rem;
    margin-bottom: 0.3rem;
}

.title {
    font-size: 1rem;
    color: #e0f7fa; /* Peut-être ajuster la couleur si besoin */
    margin-bottom: 0.2rem;
}

p {
    margin-bottom: 0.2rem;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Crée 2 colonnes de même largeur */
    gap: 10px; /* Ajoute un espace de 10px entre les boutons */
    justify-items: center; /* Centre les boutons dans chaque colonne */
    margin-top: 1rem;
}

.social-button {
    padding: 0;
    border: none;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 90px;
    transition: transform 0.3s;
}

.social-button img.icon {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 20%;
}

.icon {
    width: 24px;
    height: 24px;
    vertical-align: middle;
}

@keyframes popIn {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@media (max-width: 480px) {
    .social-button {
        width: 90px;
        height: 90px;
    }
}
